.panel-select {
    width: 100%;
}

$primary: #3D58F3;
$secondary: #A52EFF;
$success: #0ABF9E;
$warning: #E89E09;
$info: #4699F8;
$danger: #F13057;
$indigo: #602FDA;
$dark: #383340;
$light: #F0EEF5;
$gray: #6b6872;
$white: #fff;
$font-family: 'Quicksand',
Arial,
Helvetica,
sans-serif;
$line-height: 1.7;